<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title><%= title %></title>
		</head>
	<body>
		<h1>Bem vindo a página inicial</h1>
        <table>
			<tr>
				<td>ID</td>
				<td>Título</td>
				<td>Nóticia</td>
            </tr>
            <% for(var i=0; i < noticias.length; i++) {%>
			<tr>
				<td><%= noticias[i].id %></td>
				<td><%= noticias[i].titulo %></td>
				<td><%= noticias[i].noticia %></td>
			</tr>			
            <% } %>
		</table>
	</body>
	<!--
		Referencia Google Spreadsheets:. https://www.twilio.com/blog/2017/03/google-spreadsheets-and-javascriptnode-js.html
		Auto-incrementing Google: https://blog.cloudstitch.com/auto-incrementing-id-columns-in-google-sheets-d9b31b2cc060

	-->
</html> 